.receipts {
  padding: 20px;

  &__header, &__queries {
    padding-inline: 20px;
  }

  &__queries {

    &--filters {
      align-items: center;
    }

    &--buttons {
      padding: 20px;
      justify-content: flex-end;
    }
  }

}
