/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Raleway", sans-serif; }

*, *:before, *:after {
  box-sizing: border-box;
}

.text-muted {
  color: #888888 !important;
}

.text-center {
  text-align: center !important;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}
