<mat-toolbar class="flex-nowrap header">
  <div>
    <button (click)="toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>LTE Sato</span>
  </div>
  <div class="flex-nowrap header__userInformation">
    <div class="flex-nowrap header__userInformation--circle">
      JC
    </div>
    <div class="header__userInformation--email">
      <h4>Juan Soto</h4>
      <span>juancarlossotoc1900@gmail.com</span>
    </div>
    <div class="header__userInformation--arrow">
      <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Cerrar sesión</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
